<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="https://2.gravatar.com/avatar/899314ac6ec9d14d04ff43c14e9fd62a?s=400&d=mm" style="max-width:25%; max-height: 25%;" alt="TreyImage">
            <h1>About me</h1>
            <h2 class="description">My name is Trey Morris, and I write code⌨️</h2>
            <p class="small-width">Since a young age, I've had a passion with computers and a desire to always want to learn more about computing. I am
            currently studying as a Computer Science Student at Kennesaw State University in Marietta, Georgia.</p>
            
            <p class="small-width">My first introduction into the world writing code was creating static HTML pages for school projects and for friends
            in my free time. Since then, I have expanded my skills and knowledge by diving into writing programs in Java and C#. Recently, I have learned more about database systems, data structures, and software engineering through my
            schooling. In my free time, I enjoy exploring the world of full-stack development, learning frameworks such as .NET with
            Blazor Server, Java Spring Boot, and front-end frameworks like Angular.</p>
            <h2>Skills</h2>
            <p>Front-end - JavaScript, HTML/CSS, Angular</p>
            <p>Back-end - .NET, Java Spring Boot, MSSQL, MongoDB</p>
            <p>DevOps - Unit Testing with NUnit and JUnit, GitHub, Linux Experience, Learning Docker</p>
            <p>Spoken Languages - Native English, Intemediate German </p>
            <h2>Experience</h2>
            <br />
            <h4>Zebra Technologies</h4>
            <h5>Software Engineering Intern (May 2024-August 2024)</h5>
            <p> - Developed Applications using Java Spring Boot, Angular, and MongoDB</p>
        </div>
    </div>
</div>