<!---<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Trey Morris</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="activebutton">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="activebutton">About</a>
        </li>
    </ul>
</nav> -->


<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">Trey Morris</a>
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navBarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="activebutton">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="activebutton">About</a>
            </li>
        </ul>
    </div>
</nav>